@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

h1{
  color: rgb(120, 0, 233);
}
body {
  color: rgb(123, 2, 236);
  background-color: rgb(114, 172, 226);
}

a {
  font-size: 16px;
}

p {
  color: rgb(118, 8, 243);
}

.green {
  color: rgb(76, 0, 255);
}

.blue{
  color: blue;
}

#greenHeader {
  color: rgb(7, 182, 7);
}

.harry_list_item {
  font-size: 14px;
  font-weight: bold;
  color: rgb(29, 0, 110);
}
.button{
  color: rgb(8, 10, 114);
  border: none;
  border-radius: 20px;
  padding: 15px;
  background-color: burlywood;

}
.buttonf{
  color: rgb(8, 10, 114);
  border: none;
  border-radius: 20px;
  padding: 15px;
  background-color: burlywood;
}
.button:hover{
  height: 75px;
  width: 75px;
}
.edison {
  color: crimson;
}
.anna{
  height:250px;
  color: rgb(204, 0, 255);
}
.flower{
  color: pink;
}
.mrlololoshka{
  color: aquamarine;
}
.muls{
  color: blueviolet;
}
.m5{
  color: red;
}
.sp{
  color: aquamarine;
}
.lt{
color:orangered;
}
.vell{
  color: blueviolet;
}
.youtube{
  height:250px;
}
.harry_img{
height:250px;
}
.from{

}
.list{
 font-family: 'Langar', cursive;
}
.catimg{
height:500px ;
}
nav{
  background-color: gold;
  height:30px;
  width:150px;
  float: right;

}
.box{
  height: 250px;
  width: 100%;
  background-color: tomato;
}
.book{
  width: 200px;
  height: 200px;

}
body{
  background-color: skyblue;
}